<!--=================================
      Testimonial -->
      <section class="bg-light position-relative testimonial-light-bg">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <div class="space-ptb testimonial-description text-center">
                <div class="section-title left-divider">
                  <span>Testimonails</span>
                  <h2>What to say about the client</h2>
                </div>
                <div class="owl-carousel owl-nav-bottom-center ps-0" data-nav-dots="false" data-nav-arrow="true" data-items="1" data-lg-items="1" data-md-items="1" data-sm-items="1"  data-space="30" data-autoheight="true">
                  <div class="item">
                    <div class="testimonial testimonial-content-center">
                      <div class="testimonial-quote-icon">
                        <img class="img-fluid" src="images/testimonial/quote.svg" alt="">
                      </div>
                      <div class="testimonial-content">
                        <p class="mb-0"><i>Having clarity of purpose and a clear picture of what you desire, is probably the single most important factor in achievement. Why is Clarity so important?</i> </p>
                      </div>
                      <div class="testimonial-author info-right">
                        <div class="testimonial-avatar avatar">
                          <img class="img-fluid" src="images/avatar/02.jpg" alt="">
                        </div>
                        <div class="testimonial-name">
                          <h6 class="author-tittle">Alice Williams</h6>
                          <span>Product Designer</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="testimonial testimonial-content-center">
                      <div class="testimonial-quote-icon">
                        <img class="img-fluid" src="images/testimonial/quote.svg" alt="">
                      </div>
                      <div class="testimonial-content">
                        <p class="mb-0 "><i>Without clarity, you send a very garbled message out to the Universe. We know that the Law of Attraction says that we will attract what we focus on, we will attract confusion.</i> </p>
                      </div>
                      <div class="testimonial-author info-right">
                        <div class="testimonial-avatar avatar">
                          <img class="img-fluid" src="images/avatar/01.jpg" alt="">
                        </div>
                        <div class="testimonial-name">
                          <h6 class="author-tittle">Harry Russell</h6>
                          <span>Advisors</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>