<!--=================================
      Blog -->
      <section class="space-ptb">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="blog-detail">
                <div class="blog-post blog-style-02 mb-4 mb-md-5">
                  <div class="blog-img">
                    <img class="img-fluid" src="images/blog/14.jpg" alt="#">
                  </div>
                  <div class="blog-info">
                    <div class="blog-comment d-flex">
                      <span class="pe-5"> February 4, 2022</span>
                    </div>
                    <h2>A path to a cleaner future powered by you</h2>
                    <p>Imagine that a few more steps ahead there is a place where the path splits, where is goes off to the left and off to the right. Pause here for a few moments and have a think. Here, there are two different pathways, two possibilities, two ways that you could choose to go. If you were to choose the path to the left, life is pretty much the same as it is.</p>
                    <p>You carry on doing the same things, living the same way and dealing with this thing in the same way as you have been doing. If you were choose the path to the right, the right path, there are new possibilities, achievement, freedom of mind, positive and progressive implications. Think about that as you stand at this place where the path splits. You want to make a decision and commit to one of these paths. Before you make that decision, we are going to see what each path holds for your future.</p>
                  </div>
                </div>
                <div class="d-flex bg-light border-radius p-4 p-md-5 mt-md-4 mb-4 mb-lg-5">
                  <img class="img-fluid pe-2 pe-sm-4" src="images/svg/quote.svg" alt="#">
                  <i class="mb-0 text-secondary">Politics can be attributed to his perseverance to overcome his personal liabilities, and his desire to constantly become better. Next time you really want to achieve something, take time to focus on your own personal journal. </i>
                </div>
                <div class="list">
                  <ul class="list-unstyled">
                    <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>Review it regularly and ensure that every step takes you closer to your Vision and Goals.</li>
                    <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>We carry them with us like rocks in a knapsack, and then use them to sabotage our success.</li>
                    <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>Execution is the single biggest factor in achievement, so the faster and better your execution.</li>
                    <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>Can the particular activity be done later? Defer it! Can it be done by someone else.</li>
                  </ul>
                </div>
                <div class="video-bg-section mt-4 mt-md-4 mt-lg-5">
                  <div class="video-image">
                    <img class="img-fluid" src="images/blog/17.jpg" alt="#">
                    <a class="video-btn popup-youtube" href="https://www.youtube.com/watch?v=LgvseYYhqU0">
                      <i class="fas fa-play"></i>
                    </a>
                  </div>
                  <p class="mt-4 mt-md-4 mt-lg-5">Imagine reaching deep inside you for all the strength and wisdom that you need to make this decision today. As you do so, imagine that when you choose to make that decision that deep inside your mind you are switching off the alternative path, you are switching off the opportunity to drift back to that place. Then step out and take your future path.</p>
                  <div class="blog-post-social mt-4 mt-md-4 mt-lg-5">
                    <span>Share this post :</span>
                    <ul class="list-unstyled">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="blog-post-navigation mb-4 mb-md-4 mb-lg-5">
                  <nav class="navigation post-navigation">
                    <div class="nav-link">
                      <div class="nav-previous">
                        <a href="#">
                          <i class="fas fa-chevron-left"></i>
                          <span class="pagi-text">Previous Post</span>
                          <span class="nav-title">Saving the world, one charge at a time</span>
                        </a>
                      </div>
                      <div class="nav-next">
                        <a href="#">
                          <i class="fas fa-chevron-right"></i>
                          <span class="pagi-text">Next Post</span>
                          <span class="nav-title">It’s time to plug-in to the new road ahead!</span>
                        </a>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
            <div class="col-lg-4  mt-lg-0 mt-5">
              <div class="sidebar">
                <div class="widget">
                  <h3 class="widget-title fw-600">Recent Post</h3>
                  <div class="recent-post">
                    <div class="post-img">
                      <img class="img-fluid" src="images/blog/11.jpg" alt="">
                    </div>
                    <div class="post-info">
                      <span class="post-date"><i class="fa-solid fa-calendar-days"></i> Mar 7, 2022</span>
                      <h6 class="post-title"><a href="#">A path to a cleaner future powered by yous</a></h6>
                    </div>
                  </div>
                  <div class="recent-post">
                    <div class="post-img">
                      <img class="img-fluid" src="images/blog/12.jpg" alt="">
                    </div>
                    <div class="post-info">
                      <span class="post-date"><i class="fa-solid fa-calendar-days"></i> May 6, 2022</span>
                      <h6 class="post-title"><a href="#">Saving the world, one charge at a time</a></h6>
                    </div>
                  </div>
                  <div class="recent-post mb-0">
                    <div class="post-img">
                      <img class="img-fluid" src="images/blog/13.jpg" alt="">
                    </div>
                    <div class="post-info">
                      <span class="post-date"><i class="fa-solid fa-calendar-days"></i> Jun 5, 2022</span>
                      <h6 class="post-title"><a href="#">It’s time to plug-in to the new road ahead!</a></h6>
                    </div>
                  </div>
                </div>
                <div class="widget">
                  <div class="widget-title">
                    <h3 class="fw-600">Categories</h3>
                  </div>
                  <div class="widget-categories">
                    <ul class="list-unstyled list-style list-style-underline mb-0">
                      <li><a href="#">Electric cars<span><i class="fa-solid fa-chevron-right"></i></span></a></li>
                      <li><a href="#">EV-charging points<span><i class="fa-solid fa-chevron-right"></i></span></a></li>
                      <li><a href="#">Charging Station<span><i class="fa-solid fa-chevron-right"></i></span></a></li>
                      <li><a href="#">Cars Rental<span><i class="fa-solid fa-chevron-right"></i></span></a></li>
                      <li><a href="#">Battery Electric Vehicles<span><i class="fa-solid fa-chevron-right"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Blog -->
