<!--=================================
      service -->
     <section class="space-ptb">
       <div class="container">
         <div class="row">
           <div class="col-lg-12">
            <div class="service-detail">
              <div class="service-img mb-3 mb-lg-5 mb-md-4">
                <img class="img-fluid" src="images/service/bg-02.jpg" alt="">
              </div>
             <div class="service-content">
               <h2>Advanced Analytics</h2>
               <p class="pt-3 mb-3 mb-lg-5 mb-md-4">Now take a step out on to the path to the right. This is where you create powerful, progressive change. Notice the sense of freedom in your thoughts, the sense of accomplishment and walk out 10 years into your future. Imagine you are 10 years into the future but this time it’s different. Why? Because starting today you actually begin making changes in your life. Specific intentional changes are not easy.</p>
               <blockquote class="blockquote">
                  <p>Success isn’t really that difficult. There is a significant portion of the population here in North America.<br> So they then have a built-in excuse when things don’t go their way! Pretty sad situation, to say the least. </p>
              </blockquote>
              <div class="row mt-3 mt-lg-5 mt-md-4">
                <div class="col-lg-4">
                  <div class="list">
                    <ul class="list-unstyled">
                      <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>Success is something of which we all want more.</li>
                      <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>Most people believe that success is difficult.</li>
                      <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>Some people will tell you there are four while others.</li>
                      <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>They all originate from the same roots.</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="list">
                    <ul class="list-unstyled">
                      <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>The first action is always in making.</li>
                      <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>Once you have a clear understanding.</li>
                      <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>Knowing what you want and setting smart goals.</li>
                      <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>Focus is having the unwavering attention.</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="list">
                    <ul class="list-unstyled">
                      <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>Success is something of which we all want more.</li>
                      <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>Most people believe that success is difficult.</li>
                      <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>Some people will tell you there are four while others.</li>
                      <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>They all originate from the same roots.</li>
                    </ul>
                  </div>
                </div>
              </div>
               <div class="row mt-3 mt-lg-5 mt-md-4 align-items-center">
                <div class="col-lg-6">
                  <img class="img-fluid" src="images/service/07.jpg" alt="">
                </div>
                <div class="col-lg-6">
                  <div class="service-detail-content">
                    <div class="service-info-detail mb-3 mb-lg-5 mb-md-4">
                      <h5 class="fw-bold">Perfect design</h5>
                      <p>Having clarity of purpose and a clear picture of what you desire, is probably the single most important factor in achievement. Why is Clarity so important?</p>
                    </div>
                    <div class="service-info-detail mb-3 mb-lg-5 mb-md-4">
                      <h5 class="fw-bold">Easy to Customize</h5>
                      <p>The sad thing is the majority of people have no clue about what they truly want. They have no clarity. When asked the question, responses will be superficial at best.</p>
                    </div>
                    <div class="service-info-detail">
                      <h5 class="fw-bold">Powerful Performance</h5>
                      <p class="mb-0">Introspection is the trick. Understand what you want, why you want it and what it will do for you. This is a critical factor, and as such, is probably the most difficult step.</p>
                    </div>
                  </div>
                </div>
              </div>
             </div>
             </div>
           </div>
         </div>
       </div>
     </section>
      <!--=================================
      service -->