<!--=================================
      accordion -->
<section class="space-pb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title left-divider text-center">
          <span>{{ entry.faqSubtitle }}</span>
          <h2>{{ entry.faqTitle }}</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        {% for faq in entry.faqMatrix.all() %}
          <div class="faq-accordion-body">
            <div class="faqaccordion">
                <div class="faqcontainer">
                  <div class="faqlabel">{{faq.question}}</div>
                  <div class="faqcontent">{{faq.answer}}</div>
                </div>
              <hr>
            </div>
          </div>  
        {% endfor %}
      </div>
    </div>
  </div>
</section>
          
