<!--=================================
      service -->
      <section class="space-ptb">
        <div class="container">
          <div class="row align-items-center mb-lg-5 mb-md-3 mb-4">
            <div class="col-lg-6">
              <div class="section-title left-divider mb-3 mb-lg-0">
                <span>Our Services</span>
                <h2>What maintenance do electric cars need?</h2>
              </div>
            </div>
            <div class="col-lg-6">
              <p class="mb-0">Making a decision to do something – this is the first step. We all know that nothing moves until someone makes a decision. The first action is always in making the decision to proceed. This is a fundamental step, which most people overlook.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-4 mb-0 mb-lg-5">
              <div class="service-item service-info-style-02">
                <div class="service-img">
                  <div class="service-img-inner">
                    <img class="img-fluid" src="images/service/05.jpg" alt="">
                  </div>
                </div>
                <div class="service-content">
                  <h3 class="service-title">Reliable service you can trust</h3>
                  <p>Focus is having the unwavering attention to complete what you set out to do. There are a million distractions in every facet of our lives.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 mb-0 mb-lg-5">
              <div class="service-item service-info-style-02">
                <div class="service-img">
                  <div class="service-img-inner">
                    <img class="img-fluid" src="images/service/08.jpg" alt="">
                  </div>
                </div>
                <div class="service-content">
                  <h3 class="service-title">Auto service handled with care</h3>
                  <p>Telephones and e-mail, clients and managers, spouses and kids, TV, newspapers and radio – the distractions are everywhere and endless.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 mb-0 mb-lg-5">
              <div class="service-item service-info-style-02">
                <div class="service-img">
                  <div class="service-img-inner">
                    <img class="img-fluid" src="images/service/06.jpg" alt="">
                  </div>
                </div>
                <div class="service-content">
                  <h3 class="service-title">True care in auto care</h3>
                  <p>Along with your plans, you should consider developing an action orientation that will keep you motivated to move forward at all times.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 ">
              <div class="service-item service-info-style-02">
                <div class="service-img">
                  <div class="service-img-inner">
                    <img class="img-fluid" src="images/service/09.jpg" alt="">
                  </div>
                </div>
                <div class="service-content">
                  <h3 class="service-title">Friendly, honest service</h3>
                  <p>Telephones and e-mail, clients and managers, spouses and kids, TV, newspapers and radio – the distractions are everywhere and endless.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 ">
              <div class="service-item service-info-style-02">
                <div class="service-img">
                  <div class="service-img-inner">
                    <img class="img-fluid" src="images/service/11.jpg" alt="">
                  </div>
                </div>
                <div class="service-content">
                  <h3 class="service-title">Auto care is our business</h3>
                  <p>Telephones and e-mail, clients and managers, spouses and kids, TV, newspapers and radio – the distractions are everywhere and endless.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-4 ">
              <div class="service-item service-info-style-02 mb-0">
                <div class="service-img">
                  <div class="service-img-inner">
                    <img class="img-fluid" src="images/service/10.jpg" alt="">
                  </div>
                </div>
                <div class="service-content">
                  <h3 class="service-title">Trust is our biggest asset</h3>
                  <p>Telephones and e-mail, clients and managers, spouses and kids, TV, newspapers and radio – the distractions are everywhere and endless.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      service -->