    <!--=================================
      service -->
      <section class="space-ptb">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="section-title mb-4 mb-md-4 mb-lg-0">
                <h2>Check the vehicle batteries regularly</h2>
                <p class="mb-0">It is truly amazing the damage that we, as parents, can inflict on our children. So why do we do it? For the most part, we don’t do it intentionally or with malice. In the majority of cases, the cause is a well-meaning but unskilled or un-thinking parent, who says the wrong thing at the wrong time, and the message sticks – as simple as that!</p>
                <p class="mt-4 mb-0">The price is something not necessarily defined as financial. It could be time, effort, sacrifice. The point is that we must be fully aware of the price and be willing to pay it, if we want to have success.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <img class="img-fluid" src="images/about/01.jpg" alt="#">
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      service -->
