<!--=================================
      Contact-Info -->
      <section class="space-ptb">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="feature-item feature-info-style-02 feature-info-center">
                  <div class="feature-icon">
                    <object type="image/svg+xml" data="images/svg/shipping.svg" class="icon "></object>
                  </div>
                  <div class="feature-content">
                    <h4 class="feature-title">Free Shipping</h4>
                    <p class="mb-0">
                      Free shipping on all Local Area order above $200
                    </p>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item feature-info-style-02 feature-info-center">
                  <div class="feature-icon">
                    <object type="image/svg+xml" data="images/svg/support.svg" class="icon "></object>
                  </div>
                  <div class="feature-content">
                    <h4 class="feature-title">24/7 Support</h4>
                    <p class="mb-0">
                      Our Customer Support Team is ready and available to help.
                    </p>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item feature-info-style-02 feature-info-center mb-0">
                  <div class="feature-icon">
                    <object type="image/svg+xml" data="images/svg/return.svg" class="icon "></object>
                  </div>
                  <div class="feature-content">
                    <h4 class="feature-title">30 Days Return</h4>
                    <p class="mb-0">
                      Product any fault within 30 days for an exchange.
                    </p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Contact-Info -->