<!--=================================
      Banner -->
      <section class="banner">
        <div id="main-slider" class="swiper-container">
          <div class="slider-social">
            <div class="container">
              <div class="slider-social-info">
                <ul class="list-unstyled mb-0">
                  <li><a href="#"> LinkedIn </a></li>
                  <li><a href="#"> Instagram </a></li>
                  <li><a href="#"> Facebook </a></li>
                  <li><span>Follow</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-wrapper">
            <div class="swiper-slide align-items-center d-flex slide-01" style="background-image: url(images/home-01/banner-01.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; z-index:1;">
              <div class="container">
                <div class="row">
                  <div class="col-xl-7 col-lg-9 col-md-12 position-relative">
                    <span class="banner-sub-title text-primary" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="0.5s">{{ entry.heroWelcome }}</span>
                    <h1 class="text-white text-start" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="1.0s">{{ entry.heroTitle }}</h1>
                    <a href="about-us.html" class="btn btn-primary mt-3 mt-sm-5" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="2.0s">{{ entry.heroCta }}</a>
                  </div>
                </div>
              </div>
            </div>
          <!-- Pagination -->
          <div class="container">
            <div class="row">
              <div class="col-lg-12 position-relative text-center">
                <div class="pagination-button">
                  <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide">Prev</div>
                  <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide">Next</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Banner -->