<!--=================================
      About us -->
      <section class="about space-ptb">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="section-title left-divider mt-0 mt-lg-5">
                <span>We give honest services</span>
                <h2>We are known for genuine services</h2>
              </div>
              <div class="about-img pt-0 pt-lg-4">
                <img class="img-fluid" src="images/home-01/about-01.jpg" alt="#">
              </div>
            </div>
            <div class="col-lg-6 position-relative">
              <div class="about-right mt-5 mt-lg-0">
                <div class="experiense-counter">
                  <div class="counter">
                    <div class="counter-number">
                      <h2 class="title mb-0">25</h2>
                      <p class="mb-0">Year Experience</p>
                    </div>
                  </div>
                </div>
                <div class="about-img text-end">
                  <img class="img-fluid" src="images/home-01/about-02.jpg" alt="#">
                </div>
                <div class="row mt-4">
                  <div class="col-md-6">
                    <div class="about-counter">
                      <div class="counter">
                        <div class="counter-info">
                          <h2 class="mb-0">1M</h2>
                          <p class="mb-0 ms-2">User Satisfaction</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="about-counter">
                      <div class="counter">
                        <div class="counter-info">
                          <h2 class="mb-0">10K</h2>
                          <p class="mb-0 ms-2">Official Subsribers</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="mt-md-3">We know this in our gut, but what can we do about it? How can we motivate ourselves? One of the most difficult aspects of achieving success is staying motivated over the long haul.</p>
                <a href="#" class="btn btn-primary btn-lg mt-2">Discover More</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      About us -->