<!--=================================
      counter-->
      <section class="counter-section bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3">
              <div class="counter">
                <div class="counter-number">
                  <div class="counter-text"><h2 class="timer mb-0" data-to="2850" data-speed="2000">2850</h2><span>K</span></div>
                  <p class="mb-0">Charging Ports</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="counter">
                <div class="counter-number">
                  <div class="counter-text"><h2 class="timer mb-0" data-to="1600" data-speed="2000">1600</h2><span>M</span></div>
                  <p class="mb-0">Business Customers</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="counter mb-3 mb-md-0">
                <div class="counter-number">
                  <div class="counter-text"><h2 class="timer mb-0" data-to="3000" data-speed="2000">3000</h2><span>+</span></div>
                  <p class="mb-0">Trees Planted</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="counter mb-0">
                <div class="counter-number">
                  <div class="counter-text"><h2 class="timer mb-0" data-to="90" data-speed="2000">90</h2><span>%</span></div>
                  <p class="mb-0">Quality Service</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      counter-->