<!--=================================
      feature-items -->
      <section class="space-ptb bg-overlay-black-1 electric-feature-section" style="background-image: url(images/home-01/bg-01.jpg); background-size:cover; background-repeat:no-repeat; ">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title left-divider text-center pb-4">
                <span>New Technology</span>
                <h2 class="text-white">Electric Car Feature</h2>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-12 col-lg-4">
              <div class="feature-item feature-info-style-04 feature-item-right mb-4 pb-4">  
                <div class="feature-icon me-lg-0 order-lg-2">
                  <object type="image/svg+xml" data="images/svg/charging-station.svg" class="icon"></object>
                </div>              
                <div class="feature-content text-lg-end order-lg-1">
                  <h4 class="feature-title">Charging Station</h4>
                  <p>Making a decision to do something – this is the first step. We all know that nothing moves until someone.</p>
                </div>
              </div>
              <div class="feature-item feature-info-style-04 feature-item-right mb-4 pb-4">   
                <div class="feature-icon me-lg-0 order-lg-2">
                  <object type="image/svg+xml" data="images/svg/fast-charging.svg" class="icon"></object>
                </div>             
                <div class="feature-content text-lg-end order-lg-1">
                  <h4 class="feature-title">Fast Charging</h4>
                  <p>Having clarity of purpose and a clear picture of what you desire, is probably the single most important.</p>
                </div>
                
              </div>
              <div class="feature-item feature-info-style-04 feature-item-right mb-5 mb-lg-0 pb-4"> 
                <div class="feature-icon me-lg-0 order-lg-2">
                  <object type="image/svg+xml" data="images/svg/charge-home.svg" class="icon"></object>
                </div>               
                <div class="feature-content text-lg-end order-lg-1">
                  <h4 class="feature-title">Charge At Home</h4>
                  <p>There are basically six key areas to higher achievement. Some people will tell you there are four while others.</p>
                </div>
                
              </div>
            </div>
            <div class="col-md-12 col-lg-4 mb-5 mb-lg-0">
              <div class="text-center">
                <img class="img-fluid" src="images/home-01/car.png" alt="#" style="height: 550px;">
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <div class="feature-item feature-info-style-04 mb-4 pb-4">
                <div class="feature-icon">
                  <object type="image/svg+xml" data="images/svg/rapid-charging.svg" class="icon"></object>
                </div>
                <div class="feature-content">
                  <h4 class="feature-title">Rapid Charging</h4>
                  <p>giving more and being more, success is achievable with some understanding of what to do, some and execution</p>
                </div>
              </div>
              <div class="feature-item feature-info-style-04 mb-4 pb-4">
                <div class="feature-icon">
                  <object type="image/svg+xml" data="images/svg/charge-point-stations.svg" class="icon"></object>
                </div>
                <div class="feature-content">
                  <h4 class="feature-title">Charge Point Stations</h4>
                  <p>As such, success really has nothing to do with luck, coincidence or fate. It really comes down to understanding</p>
                </div>
              </div>
              <div class="feature-item feature-info-style-04 mb-4 mb-lg-0 pb-4">
                <div class="feature-icon">
                  <object type="image/svg+xml" data="images/svg/charging-timer.svg" class="icon"></object>
                </div>
                <div class="feature-content">
                  <h4 class="feature-title">Charging Timer</h4>
                  <p>The sad thing is the majority of people have no clue about what they truly want. They have no clarity. When asked.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="space-ptb"></div>
      </section>