<!--=================================
      Banner -->
      <section class="banner banner-02">
        <div id="main-slider" class="swiper-container">
          <div class="slider-social">
            <div class="container">
              <div class="slider-social-info">
                <ul class="list-unstyled mb-0">
                  <li><a href="#"> Facebook </a></li>
                  <li><a href="#"> Instagram </a></li>
                  <li><a href="#"> Dribbble </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="swiper-wrapper">
            <div class="swiper-slide align-items-center d-flex slide-01 bg-black header-position">
              <div class="banner-bg-image">
                <img src="images/home-02/banner-01.jpg" alt="#" data-swiper-animation="fadeInRight" data-duration="1.5s" data-delay="1.0s">
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-xl-9 col-lg-11 col-md-12 position-relative">
                    <span class="banner-sub-title text-primary" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="1.5s">Plug and play</span>
                    <h1 class="text-white text-start" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="2.0s">Come for the charge stay for the car</h1>
                    <p class="text-white pe-5" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="3.0s">In order to do the work thoroughly he decided to attempt each virtue and a quarter of its importance – one at a time.</p>
                    <a href="about-us.html" class="btn btn-primary mt-4" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="4.0s">Get Charging</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide align-items-center d-flex slide-01 bg-black header-position">
              <div class="banner-bg-image">
                <img src="images/home-02/banner-02.jpg" alt="#" data-swiper-animation="fadeInRight" data-duration="1.5s" data-delay="1.0s">
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-xl-9 col-lg-11 col-md-12 position-relative">
                    <span class="banner-sub-title text-primary" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="1.5s">Help set the pace</span>
                    <h1 class="text-white text-start" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="2.0s">Better than snoozing: driving an EV</h1>
                    <p class="text-white pe-5" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="3.0s">Imagine the feeling of your feet walking along the path and the sound they make. Engage with the idea of really being there.</p>
                    <a href="about-us.html" class="btn btn-primary mt-4" data-swiper-animation="fadeInUp" data-duration="1.5s" data-delay="4.0s">Get Charging</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Pagination -->
          <div class="container">
            <div class="row">
              <div class="col-lg-12 position-relative text-center">
                <div class="pagination-button">
                  <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide">Prev</div>
                  <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide">Next</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Banner -->