 <!-- =======================
Main content START -->
     
      <!--=================================
      EV Car Info -->
      <section class="bg-dark">
        <div class="video-counter bg-holder" style="background-image: url(./images/video/pattern.png);">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-4">
                <div class="video-box">
                  <img class="img-fluid" src="images/video/bg-02.jpg" alt="">
                  <a href="https://www.youtube.com/watch?v=43j6h3oCm0U" class="video-btn popup-youtube" title="Video"><i class="fas fa-play"></i></a>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="ev-car-area">
                  <div class="car-area car-border-area">
                    <h2>2.5<span>S</span></h2>
                    <span>0-60 mph*</span>
                  </div>
                  <div class="car-area car-border-area">
                    <h2>310<span>MI</span></h2>
                    <span>Electric Range</span>
                  </div>
                  <div class="car-area car-border-area mb-sm-0">
                    <h2>800<span>HP</span></h2>
                    <span>Engine</span>
                  </div>
                  <div class="car-area car-border-area mb-0">
                    <h2>60<span>MIN</span></h2>
                    <span>Fast Charge (0%-80%)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>