<!--=================================
      Newsletter -->
      <section class="space-ptb bg-overlay-secondary-10 bg-holder newsletter-section" style="background-image: url(./images/home-03/bg-02.jpg);">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="section-title text-center">
                <h2 class="text-white">Subscribe Our Newsletter</h2>
                <p class="text-white">Sign up our newsletter to get update information, project and insight.</p>
              </div>
              <div class="newsletter position-relative">
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Your Email Address">
                  </div>
                  <button type="submit" class="btn btn-link">Subscribe<i class="fas fa-arrow-right-long ps-2"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Newsletter -->