<!--=================================
      Product List -->
      <section class="space-ptb workplaces-product-list">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="section-title left-divider text-center">
                <span>Product</span>
                <h2>Charger List</h2>
                <p>As such, success really has nothing to do with luck, coincidence or fate. It really comes down to understanding the steps in the process.</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-11">
              <div class="product-list mb-2">
                <div class="product-info bg-light">
                  <div class="product-img">
                    <img class="img-fluid" src="images/product-list/01.jpg" alt="image">
                  </div>
                  <div class="product-content">
                    <h6>Tarang Fast Charging</h6>
                    <p>Commitment is something that comes from understanding that everything has its price and then willingness to pay that price.</p>
                    <ul class="list-unstyled">
                      <li class="me-2"><a href="#"><object type="image/svg+xml" data="images/svg/charging-01.svg" class="icon pe-1"></object>3 hour charging Range 405 mi</a></li>
                      <li><a href="#"><object type="image/svg+xml" data="images/svg/charging-02.svg" class="icon pe-1"></object>Supercharging Max 250 kW</a></li>
                    </ul>
                  </div>
                  <div class="pricing-price">
                    <span><sup>$</sup><strong>99</strong> /day</span>
                  </div>
                  <button type="submit" class="btn btn-primary">Purchase now</button>
                </div>
              </div>
              <div class="product-list mb-2">
                <div class="product-info bg-light">
                  <div class="product-img">
                    <img class="img-fluid" src="images/product-list/02.jpg" alt="image">
                  </div>
                  <div class="product-content">
                    <h6>DC 001 EV Charger CCS</h6>
                    <p>This is important because nobody wants to put significant effort into something, only to find out after that the price was too high.</p>
                    <ul class="list-unstyled">
                      <li class="me-2"><a href="#"><object type="image/svg+xml" data="images/svg/charging-01.svg" class="icon pe-1"></object>1 hour charging Range 405 mi</a></li>
                      <li><a href="#"><object type="image/svg+xml" data="images/svg/charging-02.svg" class="icon pe-1"></object>Supercharging Max 380 kW</a></li>
                    </ul>
                  </div>
                  <div class="pricing-price">
                    <span><sup>$</sup><strong>89</strong> /day</span>
                  </div>
                  <button type="submit" class="btn btn-primary">Purchase now</button>
                </div>
              </div>
              <div class="product-list">
                <div class="product-info bg-light">
                  <div class="product-img">
                    <img class="img-fluid" src="images/product-list/03.jpg" alt="image">
                  </div>
                  <div class="product-content">
                    <h6>Rian Automatic Phase Changer</h6>
                    <p>Execution is the single biggest factor in achievement, so the faster and better your execution, the quicker you will get to the goals!</p>
                    <ul class="list-unstyled">
                      <li class="me-2"><a href="#"><object type="image/svg+xml" data="images/svg/charging-01.svg" class="icon pe-1"></object>2 hour charging Range 405 mi</a></li>
                      <li><a href="#"><object type="image/svg+xml" data="images/svg/charging-02.svg" class="icon pe-1"></object>Supercharging Max 230 kW</a></li>
                    </ul>
                  </div>
                  <div class="pricing-price">
                    <span><sup>$</sup><strong>79</strong> /day</span>
                  </div>
                  <button type="submit" class="btn btn-primary">Purchase now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Product List -->