<!--=================================
      Product -->
      <section class="space-ptb bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title left-divider text-center">
                <span>Best featured</span>
                <h2>Electric car featured item</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="product">
                <div class="product-image thumbnail-light">
                  <img class="img-fluid" src="images/product/01.png" alt="image">
                  <div class="custom-icon">
                  <ul class="list-unstyled">
                    <li><a class="icon-bg" href="#"><i class="far fa-heart"></i></a></li>
                    <li><a class="icon-bg" href="#"><i class="fas fa-shopping-cart icon-bg"></i></a></li>
                  </ul>
                </div>
                </div>
                <div class="product-content">
                  <div class="product-info">
                    <div class="product-title">
                      <h3><a href="shop-single.html">2019 Tesla Model x</a></h3>
                    </div>
                    <div class="product-star">
                      <ul class="list-unstyled">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="far fa-star-half-alt"></i></li>
                      </ul>
                    </div>
                  </div>
                    <a href="#" class="category">Cable</a>
                  <div class="product-prize">
                    <p><span class="me-2">$81,000.00</span>$95,000.00</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="product">
                  <div class="product-image thumbnail-light">
                    <img class="img-fluid" src="images/product/05.png" alt="image">
                    <div class="custom-icon">
                    <ul class="list-unstyled">
                      <li><a class="icon-bg" href="#"><i class="far fa-heart"></i></a></li>
                      <li><a class="icon-bg" href="#"><i class="fas fa-shopping-cart icon-bg"></i></a></li>
                    </ul>
                  </div>
                  </div>
                  <div class="product-content">
                    <div class="product-info">
                      <div class="product-title">
                        <h3><a href="shop-single.html">BMW i3</a></h3>
                      </div>
                      <div class="product-star">
                        <ul class="list-unstyled">
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="far fa-star-half-alt"></i></li>
                          <li><i class="far fa-star-half-alt"></i></li>
                        </ul>
                      </div>
                    </div>
                      <a href="#" class="category">Portable</a>
                    <div class="product-prize">
                      <p><span class="me-2">$46,980.00</span>$46,980.00</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="product">
                <div class="product-image thumbnail-light">
                  <img class="img-fluid" src="images/product/03.png" alt="image">
                   <div class="custom-icon">
                  <ul class="list-unstyled">
                    <li><a class="icon-bg" href="#"><i class="far fa-heart"></i></a></li>
                    <li><a class="icon-bg" href="#"><i class="fas fa-shopping-cart icon-bg"></i></a></li>
                  </ul>
                </div>
                </div>
                <div class="product-content pb-0">
                  <div class="product-info">
                    <div class="product-title">
                      <h3><a href="shop-single.html">Nissan LEAF</a></h3>
                    </div>
                    <div class="product-star">
                      <ul class="list-unstyled">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="far fa-star-half-alt"></i></li>
                        <li><i class="far fa-star-half-alt"></i></li>
                        <li><i class="far fa-star-half-alt"></i></li>
                      </ul>
                    </div>
                  </div>
                    <a href="#" class="category">Charger</a>
                  <div class="product-prize">
                    <p><span class="me-2">$5,500.00</span>$5,999.00</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Product-->