<!--=================================
      Services -->
      <section class="space-ptb service-section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <img class="img-fluid" src="images/home-03/01.jpg" alt="">
            </div>
            <div class="col-lg-7">
              <div class="service-description">
                <div class="section-title left-divider">
                  <span>Our Services</span>
                  <h2>Best solution provides electric vehicle</h2>
                  <p class="mb-0">Execution is the single biggest factor in achievement, so the faster and better your execution, the quicker you will get to the goals!</p>
                </div>
                <div class="row">
                  <div class="col-md-6 mt-3 mt-md-4 mt-lg-0">
                    <div class="service-box">
                      <div class="service-icon">
                        <object type="image/svg+xml" data="images/svg/charging-station.svg" class="icon"></object>
                      </div>
                      <div class="service-content">
                        <h4>Charging Station</h4>
                        <p>
                          That is what will get you to the destination. Don’t get caught in the paralysis of analysis.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mt-4 mt-md-4 mt-lg-0">
                    <div class="service-box">
                      <div class="service-icon">
                        <object type="image/svg+xml" data="images/svg/rapid-charging.svg" class="icon "></object>
                      </div>
                      <div class="service-content">
                        <h4>Rapid Charging</h4>
                        <p>
                          The six steps that will help you to the fabled land of achievement and success!.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Services -->