<!--=================================
      Services -->
      <section class="space-ptb bg-light maintenance-section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-12 col-lg-6 order-lg-1 order-2">
              <div class="maintenance-box">
                <div class="section-title left-divider">
                  <span>FRIENDLY SERVICE WITH MORE BENEFITS</span>
                  <h2>You directly benefit nature</h2>
                  <p class="mb-0">Benjamin Franklin, inventor, statesman, writer, publisher and economist relates in his autobiography that early in his life he decided to focus on arriving at moral perfection. He made a list of 13 virtues, assigning a page to each</p>
                </div>
                <div class="list">
                  <ul class="list-unstyled mb-0">
                    <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>What maintenance does an electric car need?</li>
                    <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>Analyse each tyre for any excess tread wear.</li>
                    <li><i class="fa-solid fa-check pe-lg-3 pe-2"></i>Examine the washer fluid in the windshield and fill it if required.</li>
                  </ul>
                </div>
                <a href="#" class="btn btn-primary">Our Services<i class="fa-solid fa-arrow-right-long"></i></a>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 order-lg-2 order-1">
              <img class="img-fluid" src="images/home-03/04.png" alt="">
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Services -->