<!--=================================
      Testimonial -->
      <section class="bg-light position-relative service-testimonial testimonial-style-bg">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-12 col-xl-6">
              <form>
                <div class="section-title left-divider">
                  <span>GET QUOTE</span>
                  <h2>Request A Quote</h2>
                </div>
                <div class="row">
                  <div class="mb-3 col-md-6">
                    <input type="text" class="form-control" id="first-name" placeholder="Your Name">
                  </div>
                  <div class="mb-3 col-md-6">
                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                  </div>
                  <div class="mb-3 col-md-6">
                    <input type="text" class="form-control" id="phone" placeholder="Phone Number">
                  </div>
                  <div class="mb-3 col-md-6">
                    <select class="form-control basic-select">
                      <option value="1" selected="selected">Country</option>
                      <option value="2">5 Star</option>
                      <option value="3">4 Star</option>
                      <option value="4">3 Star</option>
                      <option value="5">2 Star</option>
                      <option value="6">1 Star</option>
                    </select>
                  </div>
                  <div class="col-lg-12">
                    <textarea class="form-control" rows="5" placeholder="Message"></textarea>
                  </div>
                </div>
                <div class="mt-4">
                  <a href="" class="btn btn-primary">Send</a>
                </div>
              </form>
            </div>
            <div class="col-lg-12 col-xl-6 justify-content-start" style="background-image: url(./images/testimonial/02.jpg);background-size:cover;background-repeat:no-repeat;background-position:center">
              <div class="testimonial-description">
                <div class="owl-carousel owl-nav-bottom-center ps-0" data-nav-dots="false" data-nav-arrow="true" data-items="1" data-lg-items="1" data-md-items="1" data-sm-items="1"  data-space="30" data-autoheight="true">
                  <div class="item">
                    <div class="testimonial-style-02">
                      <div class="testimonial-star-icon">
                        <ul class="list-unstyled">
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="far fa-star"></i></li>
                          <li><i class="far fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="testimonial-content">
                        <p class="mb-0"><i>“ The price is something not necessarily defined as financial. It could be time, effort, sacrifice, money or perhaps, something else. The point is that we must be success. ”</i> </p>
                      </div>
                      <div class="testimonial-author">
                        <div class="testimonial-name">
                          <h6 class="author-tittle">Alice Williams</h6>
                          <span>Product Designer</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="testimonial-style-02">
                      <div class="testimonial-star-icon">
                        <ul class="list-unstyled">
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="fas fa-star"></i></li>
                          <li><i class="far fa-star"></i></li>
                          <li><i class="far fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="testimonial-content">
                        <p class="mb-0 "><i>“ So, how can we stay on course with all the distractions in our lives? Willpower is a good start, but it’s very difficult to stay on track simply through willpower. ”</i> </p>
                      </div>
                      <div class="testimonial-author">
                        <div class="testimonial-name">
                          <h6 class="author-tittle">Harry Russell</h6>
                          <span>Advisors</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Testimonial -->